.dotcloud/*
dev.db
venv/*
backups/*
cabot/.collectstatic/
.python-eggs/*
cabot.egg-info
.env
.DS_Store
celerybeat-schedule
*.pyc
*.swp
*.orig
.vagrant
dist/
local_config.yml
build/

.idea
Pipfile.lock
